@model Model.Registrations.Department
@{ 
    ViewData["Title"] = "Department";
}

<div>
    <hr />
    @{await Html.RenderPartialAsync("~/Views/Department/_PartialcontentDepartment.cshtml", Model); }
</div>

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.DepartmentId">Edit</a>
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>
