@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
</head>
<body>
    Error 404
    It's a simple page to test error 404
</body>
</html>