@model Model.Teacher.Professor

@{
    ViewData["Title"] = "Professor";
    Layout = "_Layout";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="Teacher" asp-action="Edit" asp-route-id="@Model.ProfessorId" class="btn btn-primary">Edit</a>
    <a asp-area="Teacher" asp-action="Index" class="btn btn-default">Back to List</a>
</div>